In [41]:
import pandas as pd

In [43]:
df = pd.read_excel('oesm23in4/natsector_M2023_dl.xlsx',sheet_name='Natsector_M2023_dl')

In [44]:
df.shape

(16376, 32)

In [45]:
newdf = df.applymap(lambda x: x=='*').sum()

In [50]:
tempdf = newdf[newdf != 0]
outputdf = pd.DataFrame({'Attribute Name':tempdf.index,'Missing Counts':tempdf.values})

In [51]:
outputdf

   Attribute Name  Missing Counts
0          H_MEAN             534
1          A_MEAN             255
2       MEAN_PRSE             204
3         H_PCT10             534
4         H_PCT25             534
5        H_MEDIAN             534
6         H_PCT75             534
7         H_PCT90             534
8         A_PCT10             255
9         A_PCT25             255
10       A_MEDIAN             255
11        A_PCT75             255
12        A_PCT90             255

In [52]:
totalcount = outputdf['Missing Counts'].sum()
outputdf['Missing %'] = (outputdf['Missing Counts'] / totalcount) * 100

In [53]:
pd.set_option('display.float_format','{:.3f}'.format)
outputdf

   Attribute Name  Missing Counts  Missing %
0          H_MEAN             534     10.814
1          A_MEAN             255      5.164
2       MEAN_PRSE             204      4.131
3         H_PCT10             534     10.814
4         H_PCT25             534     10.814
5        H_MEDIAN             534     10.814
6         H_PCT75             534     10.814
7         H_PCT90             534     10.814
8         A_PCT10             255      5.164
9         A_PCT25             255      5.164
10       A_MEDIAN             255      5.164
11        A_PCT75             255      5.164
12        A_PCT90             255      5.164