In [1]:
import pandas as pd

Below lists start with index 0 = 2005, and index -1 = 2023

In [2]:
sp = [1178.28,
1290.01,
1511.14,
1403.22,
902.41,
1125.06,
1338.31,
1341.27,
1639.84,
1889.77,
2111.94,
2065.55,
2395.35,
2701.49,
2854.71,
2919.62,
4167.85,
4040.36,
4146.17
]

In [3]:
unemploymentvalues = [5.1,
4.6,
4.4,
5.4,
9.4,
9.6,
9.0,
8.2,
7.5,
6.3,
5.6,
4.8,
4.4,
3.8,
3.6,
13.2,
5.8,
3.6,
3.7
]

In [4]:
price_indexes = [107.9,
117.2,
118.6,
141.2,
116.8,
126.7,
143.1,
142.0,
139.4,
140.1,
126.5,
119.9,
122.7,
128.2,
127.0,
119.0,
132.8,
148.2,
139.7
]

In [5]:
cpi = [193.6,
201.3,
206.755,
215.208,
213.022,
217.290,
224.806,
228.713,
231.893,
236.918,
237.001,
239.557,
244.004,
250.792,
255.296,
255.848,
268.452,
291.359,
303.365
]

In [6]:
df = pd.read_excel('blsdata/natsector_M2023_dl.xlsx')

In [7]:
enddf = df[['OCC_CODE','TOT_EMP','EMP_PRSE','PCT_TOTAL','A_MEAN','MEAN_PRSE','A_PCT25','A_MEDIAN','A_PCT75']]

In [8]:
enddf.head()

,OCC_CODE,TOT_EMP,EMP_PRSE,PCT_TOTAL,A_MEAN,MEAN_PRSE,A_PCT25,A_MEDIAN,A_PCT75
0,00-0000,413580,0,100,43010,0.6,33350,35640,44970
1,11-0000,12040,2.3,2.91,109590,1.2,65020,96150,130930
2,11-1000,6150,2.9,1.49,108990,1.9,61170,88740,130000
3,11-1010,130,12.9,0.03,226760,5.2,127940,181320,#
4,11-1011,130,12.9,0.03,226760,5.2,127940,181320,#

In [9]:
enddf.shape

(16376, 9)

In [11]:
newdf = enddf.drop(enddf[(enddf["A_MEAN"] == "*") | (enddf["EMP_PRSE"] == "**")].index)
# newdf = newdf.drop(newdf[newdf["EMP_PRSE"] == "**"].index)

In [13]:
newdf.shape

(15446, 9)

In [15]:
newdf = newdf.replace('#',239200)

In [17]:
newdf['CPI'] = cpi[-1]
newdf['PRICE_INDEX'] = price_indexes[-1]
newdf['UNEMPLOYMENT_RATE'] = unemploymentvalues[-1]
newdf['SP_INDEX'] = sp[-1]
newdf['YEAR'] = 2023

In [18]:
newdf.head()

,OCC_CODE,TOT_EMP,EMP_PRSE,PCT_TOTAL,A_MEAN,MEAN_PRSE,A_PCT25,A_MEDIAN,A_PCT75,CPI,PRICE_INDEX,UNEMPLOYMENT_RATE,SP_INDEX,YEAR
0,00-0000,413580,0.0,100.00,43010,0.6,33350,35640,44970,303.365,139.7,3.7,4146.17,2023
1,11-0000,12040,2.3,2.91,109590,1.2,65020,96150,130930,303.365,139.7,3.7,4146.17,2023
2,11-1000,6150,2.9,1.49,108990,1.9,61170,88740,130000,303.365,139.7,3.7,4146.17,2023
3,11-1010,130,12.9,0.03,226760,5.2,127940,181320,239200,303.365,139.7,3.7,4146.17,2023
4,11-1011,130,12.9,0.03,226760,5.2,127940,181320,239200,303.365,139.7,3.7,4146.17,2023

In [55]:
newdf.to_csv('processed2023data.csv')

In [9]:
loss = [0.015204177238047123, 0.2387499213218689, 0.3523361086845398, 0.14091090857982635, 0.019228598102927208, 0.09365568310022354, 0.024062464013695717, 0.30078405141830444, 0.4983649253845215, 0.23031817376613617, 0.05252232030034065, 0.2123657912015915, 0.10982656478881836, 0.05057578533887863, 0.07214231789112091, 0.0548739954829216, 0.21912795305252075, 0.06468940526247025, 0.1266327202320099, 0.0270437803119421]
mse = sum(loss) / len(loss)
print(mse)

0.14517078227363528